 <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">World news</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if isHome}}
          <li class="active"><a href="/">Главная</a></li>
        {{else}}
          <li><a href="/">Главная</a></li>
        {{/if}}

        {{#if isNews}}  
          <li class="active"><a href="/news">World News</a></li>
        {{else}}
          <li><a href="/news">World News</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>